[submodule "vendor/fmtlib"]
	path = vendor/fmtlib
	url = https://github.com/fmtlib/fmt
	ignore = dirty
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
	ignore = dirty
[submodule "vendor/MinHook"]
	path = vendor/MinHook
	url = https://github.com/TsudaKageyu/minhook
	ignore = dirty
[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = https://github.com/ocornut/imgui
	ignore = dirty
[submodule "vendor/g3log"]
	path = vendor/g3log
	url = https://github.com/KjellKod/g3log.git
	ignore = dirty
